<form id="ability-use-form">
    <p>{{ title }}</p>
    <p class="notes">{{note}}</p>
    {{#each errors}}
    <p class="notification error">{{this}}</p>
    {{/each}}

    {{#if consumeSpellSlot}}
    <div class="form-group">
        <label>{{ localize "DND5EMOD.SpellCastUpcast" }}</label>
        <div class="form-fields">
            <select name="level">
                {{#select item.data.level}}
                {{#each spellLevels as |l|}}
                <option value="{{l.level}}" {{#unless l.canCast}}disabled{{/unless}}>{{l.label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="checkbox"><input type="checkbox" name="consumeSlot" checked/>{{ localize "DND5EMOD.SpellCastConsume" }}</label>
    </div>
    {{/if}}

    {{#if consumeUses}}
    <div class="form-group">
        <label class="checkbox"><input type="checkbox" name="consumeUse" checked/>{{ localize "DND5EMOD.AbilityUseConsume" }}</label>
    </div>
    {{/if}}

    {{#if consumeResource}}
    <div class="form-group">
        <label class="checkbox"><input type="checkbox" name="consumeResource" checked/>{{ localize "DND5EMOD.ConsumeResource" }}</label>
    </div>
    {{/if}}

    {{#if consumeRecharge}}
    <div class="form-group">
        <label class="checkbox"><input type="checkbox" name="consumeRecharge" checked/>{{ localize "DND5EMOD.ConsumeRecharge" }}</label>
    </div>
    {{/if}}
    
    {{#if createTemplate}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="placeTemplate" checked/>
            {{ localize "DND5EMOD.PlaceTemplate" }}
        </label>
    </div>
    {{/if}}
</form>
